<?xml version="1.0"?>
<configuration>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="home_test.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="home_test2.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="home_x.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="content">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="list.sync">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="MessageList.sync">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="CervalConnectionString" connectionString=""  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
connection string provided in code (encrypted)
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="dbfile" value="c:\dbstring-dz.txt"/>
    <add key="CervalDb" value="d:\CervalDB.txt"/>
    <add key="minyear" value="7"/>
    <add key="maxyear" value="14"/>
    <add key="SMT" value="MAF,JA,MSG,DA,CBL,SRO,SKN"/>
    <add key="SEN-MANAGERS" value="CBL,LG,DBE,CSA,CC,fred,VBR"/>
    <add key="SD-MANAGERS" value="VBR,CBL,CDU,RM,JGa,DBE,JBE,FTR,ACR,LG,DCo,SCA,IWI,CSa,CC,VBR,Staff-Intranet="/>
    <add key="AdminAccess" value="MAF,MSG"/>
    <add key="StaffDetailsAccess" value="MAF,SMO,SNI,CC,fred,VBR"/>
    <add key="Medical" value="MAF,CC,PWA,SH"/>
    <add key="EditIncidents" value="MAF,CBL,CDU,JGA,DMU,HAM,NAK,VBR"/>
    <add key="EditStudentDevelopment" value="VBR,MAF,CBL,CDU,JGA,DMU,HAM,NAK,VBR,RM,JGa,DBE,JBE,FTR,ACR,LG,DCo,SCA,IWI,CSa,CC,Staff-Intranet"/>
    <add key="StudentDevelopment" value="MAF,CBL,CDU,JGA,DMU,HAM,NAK,VBR,RM,JGa,DBE,JBE,FTR,ACR,LG,DCo,SCA,IWI,CSa,CC,Staff-Intranet"/>
    <add key="KS4LeaderEmail" value="morgs@challoners.com"/>
    <add key="KS3LeaderEmail" value="cdu@challoners.com"/>
    <add key="KS5LeaderEmail" value="atko@challoners.com;matron@challoners.com"/>
    <add key="Year13LeaderEmail" value="DCO@challoners.com;nak@challoners.com"/>
    <add key="Year7LeaderEmail" value="JGA@challoners.com"/>
    <add key="Year12LeaderEmail" value="SCA@challoners.com;nak@challoners.com"/>
    <add key="SDOEmail" value="matron@challoners.com;jbe@challoners.com;acr@challoners.com;ftr@challoners.com"/>
    <add key="Monitor_email" value=""/>
    <!--<add key="Monitor_email" value="cclare@challoners.com"/>-->
    <!-- empty if no monitoring -->
    <add key="DailyOrdersPath" value="\\challoners.net\users\Departments\School-Administration\Daily-Orders"/>
    <add key="PremiseSiteURL" value="Index.htm"/>
    <add key="StaffDocuments" value="\\orlov.challoners.net\Department_Data\School-Administration\Staff-Documents"/>
    <!--   <add key="StaffDocuments" value="\\challoners.net\users\Departments\School-Administration\Staff-Documents"/>-->
    <add key="StaffPolicies" value="\\challoners.net\users\Departments\School-Administration\Staff-Documents\School_Policies"/>
    <add key="RegistrationLink" value="https://internal.challoners.com/beta/alcuin/StudentInfo.aspx"/>
    <add key="css-file1" value="test1-1.txt"/>
    <add key="css-file2" value="test1-2.txt"/>
    <add key="Welcome Screen" value="\\challoners.net\users\Departments\School-Administration\Daily-Orders\Welcome.txt"/>
    <add key="PhysicsExptSupervisor" value="PGR,CC,DSM,YEM,GPE,CDA,fred"/>
    <!-- the filepath on the server to the ttd file for "Next Years Timetable" -->
    <add key="TTD_AllowRoomEdit" value="false"/>
    <!-- true or false -->
    <add key="TTD_File_Path" value="\\challoners.net\users\Departments\School-Administration\Daily-Orders\tt_data.ttd"/>
    <!-- the title on the display TT screen" -->
    <add key="TTPlan_Title" value="This page gives access to the current TimeTable as at 1/1/2014"/>
    <!-- This page give access to the Provisional Timetables for next accademic Year.<br />
    Please remember that these may yet change!<br />-->
    <add key="Predicted Grade Type" value="STAFF"/>
    <!-- Possible values for Predicted Grade Type are SL (Subject Leaders), STAFF (All Staff / Who teach the subject) or null (No-one)  -->
    <add key="Predicted Grade Notification" value="atko@challoners.com;dco@challoners.com"/>
    <!-- if blank "" then no notfiication else email these ppl
    value="atko@challoners.com;SCA@challoners.com"
    -->
    <add key="Exam Entries Forecast Grade Edit" value="all"/>
    <!-- Forecast Grades for Exam boards ... may well be generated from results/sliders/predictions -->
    <!-- possible values of who can edit grades... none (no edit allowed) SL (subject leaders only) staff (teaching staff and SL) all (obvious e.g. non-subject bound staff....)  -->
    <add key="Exam Results"/>
    <add key="Exam_Results_Years" value="7,8,9,10"/>
    <!-- a comma spe list of years we are currently collecting results for (can be empty) -->
    <add key="EmbargoStart" value="29/5/2014  00:00:00"/>
    <!--  format is yyyy,mm,dd,hh,mm,ss  From this time Staff Intranet access will be disabled until: -->
    <add key="EmbargoRelease" value="29/5/2014  07:00:00"/>
    <!--  format is yyyy,mm,dd,hh,mm,ss  from this time Staff Intranet access is live again -->
    <add key="EmbargoReason" value="Uploading new software versions for Staff Intranet - mainly behind the scences changes - which should be completed about 10:00 this morning. If any member of staff needs urgent access today (Thursday) please email cc OR vbr."/>
  </appSettings>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <add name="CC-1" verb="*" path="list.sync" type="Cerval_Library.ListJsonHandler, Cerval_Library" resourceType="Unspecified"/>
      <add name="CC-2" verb="*" path="timetable.sync" type="Cerval_Library.TTJsonHandler, Cerval_Library" resourceType="Unspecified"/>
      <add name="CC-3" verb="*" path="help.sync" type="Cerval_Library.HelpJsonHandler, Cerval_Library" resourceType="Unspecified"/>
      <add name="CC-4" verb="*" path="StaffFreeAtTime.sync" type="Cerval_Library.StaffFreeAtTimeJsonHandler, Cerval_Library" resourceType="Unspecified"/>
      <add name="CC-5" verb="*" path="MessageList.sync" type="Cerval_Library.MessageJsonHandler, Cerval_Library" resourceType="Unspecified"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <!--  ignore any http handlers declared -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>