<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="home_test.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="home_test2.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="home_x.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="content">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="list.sync">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MessageList.sync">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
    <location path="xmatrix">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
    
  
  <connectionStrings>
    <add name="CervalConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
connection string provided in code (encrypted)
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="dbfile" value="c:\dbstring-dz.txt" />
    <add key="CervalDb" value="d:\CervalDB.txt" />
    <add key="minyear" value="7" />
    <add key="maxyear" value="14" />
    <add key="SMT" value="MAF,JA,MSG,DA,CBL,SRO,SKN" />
    <add key="SEN-MANAGERS" value="CBL,LG,DBE,CSA,CC,fred,VBR" />
    <add key="SD-MANAGERS" value="VBR,CBL,CDU,RM,JGa,DBE,JBE,FTR,ACR,LG,DCo,SCA,IWI,CSa,CC,VBR,Staff-Intranet=" />
    <add key="AdminAccess" value="MAF,MSG" />
    <add key="StaffDetailsAccess" value="MAF,SMO,SNI,CC,fred,VBR" />
    <add key="Medical" value="MAF,CC,PWA,SH" />
    <add key="EditIncidents" value="MAF,CBL,CDU,JGA,DMU,HAM,NAK,VBR" />
    <add key="EditStudentDevelopment" value="VBR,MAF,CBL,CDU,JGA,DMU,HAM,NAK,VBR,RM,JGa,DBE,JBE,FTR,ACR,LG,DCo,SCA,IWI,CSa,CC,Staff-Intranet" />
    <add key="StudentDevelopment" value="MAF,CBL,CDU,JGA,DMU,HAM,NAK,VBR,RM,JGa,DBE,JBE,FTR,ACR,LG,DCo,SCA,IWI,CSa,CC,Staff-Intranet" />
    <add key="KS4LeaderEmail" value="morgs@challoners.com" />
    <add key="KS3LeaderEmail" value="cdu@challoners.com" />
    <add key="KS5LeaderEmail" value="atko@challoners.com;matron@challoners.com" />
    <add key="Year13LeaderEmail" value="DCO@challoners.com;nak@challoners.com" />
    <add key="Year7LeaderEmail" value="JGA@challoners.com" />
    <add key="Year12LeaderEmail" value="SCA@challoners.com;nak@challoners.com" />
    <add key="SDOEmail" value="matron@challoners.com;jbe@challoners.com;acr@challoners.com;ftr@challoners.com" />
    <add key="Monitor_email" value="" />
    <add key="DailyOrdersPath" value="\\challoners.net\users\Departments\School-Administration\Daily-Orders" />
    <add key="PremiseSiteURL" value="Index.htm" />
    <add key="StaffDocuments" value="\\orlov.challoners.net\Department_Data\School-Administration\Staff-Documents" />
    <add key="StaffPolicies" value="\\challoners.net\users\Departments\School-Administration\Staff-Documents\School_Policies" />
    <add key="RegistrationLink" value="https://internal.challoners.com/beta/alcuin/StudentInfo.aspx" />
    <add key="css-file1" value="test1-1.txt" />
    <add key="css-file2" value="test1-2.txt" />
    <add key="Welcome Screen" value="\\challoners.net\users\Departments\School-Administration\Daily-Orders\Welcome.txt" />
    <add key="PhysicsExptSupervisor" value="PGR,CC,DSM,YEM,GPE,CDA,fred" />
    <add key="TTD_AllowRoomEdit" value="false" />
    <add key="TTD_File_Path" value="\\challoners.net\users\Departments\School-Administration\Daily-Orders\tt_data.ttd" />
    <add key="TTPlan_Title" value="This page gives access to the current TimeTable as at 1/1/2014" />
    <add key="Predicted Grade Type" value="STAFF" />
    <add key="Predicted Grade Notification" value="atko@challoners.com;dco@challoners.com" />
    <add key="Exam Entries Forecast Grade Edit" value="all" />
    <add key="Exam Results" />
    <add key="Exam_Results_Years" value="7,8,9,10" />
    <add key="EmbargoStart" value="29/5/2014  00:00:00" />
    <add key="EmbargoRelease" value="29/5/2014  07:00:00" />
    <add key="EmbargoReason" value="Uploading new software versions for Staff Intranet - mainly behind the scences changes - which should be completed about 10:00 this morning. If any member of staff needs urgent access today (Thursday) please email cc OR vbr." />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="CC-1" verb="*" path="list.sync" type="Cerval_Library.ListJsonHandler, Cerval_Library" resourceType="Unspecified" />
      <add name="CC-2" verb="*" path="timetable.sync" type="Cerval_Library.TTJsonHandler, Cerval_Library" resourceType="Unspecified" />
      <add name="CC-3" verb="*" path="help.sync" type="Cerval_Library.HelpJsonHandler, Cerval_Library" resourceType="Unspecified" />
      <add name="CC-4" verb="*" path="StaffFreeAtTime.sync" type="Cerval_Library.StaffFreeAtTimeJsonHandler, Cerval_Library" resourceType="Unspecified" />
      <add name="CC-5" verb="*" path="MessageList.sync" type="Cerval_Library.MessageJsonHandler, Cerval_Library" resourceType="Unspecified" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <!--  ignore any http handlers declared -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Sheets.v4" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.2111" newVersion="1.49.0.2111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>